
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;
  
  .btn-toggle {
    cursor: pointer;
    display: none;
  }


  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: #d8d8d8;
      }
    }
  }

}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  text-align: center;
}

.sidebar {
  height: 100vh;
  background-color: darkgray;
  border-right: 2px solid #ccc !important;
}



.welcome {
  background-color: #AAEAAA;
  width: calc(100vw - 280px);
  background-size: cover !important;
  min-height: 50px !important;
  height: 14rem !important;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.welcome-text {
  font-size: xxx-large;
  color: #001135;
}

.steps {
  width: 100%;
  margin-top: 2rem;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-title {
  font-size: large;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.step-description {
  margin-top: 0.5rem;
  width: 20rem;
  text-align: justify;
}